<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/base :: head}"></head>

<body>
	<header>
		<nav class="container">
			<ul>
				<li><strong>Redis Cache Demo</strong></li>
			</ul>
			<ul>
				<li><a href="/movies/popular">Popular</a></li>
				<li><a href="/movies/top-rated">Top-Rated</a></li>
				<li>Upcoming</li>
				<li><a href="/movies/search">Search</a></li>
			</ul>
		</nav>
	</header>
	<main class="container">
		<h1>Upcoming Movies</h1>
		<section id="results">
			<div class="grid results">
				<article th:each="movie : ${movies}">
					<figure>
						<a th:href="@{/movie/{id}(id=${movie.id})}">
							<img
								th:src="@{https://image.tmdb.org/t/p/w500/{posterPath}(posterPath=${movie.posterPath})}">
							<figcaption th:text="${movie.title}" class="movie-title">
								Title
							</figcaption>
						</a>
					</figure>
					<footer th:text="${movie.releaseDate}">
						Release date
					</footer>
				</article>
			</div>
		</section>
	</main>

</body>

</html>