<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/base :: head}"></head>

<body>
	<header>
		<nav class="container">
			<ul>
				<li><strong>Redis Cache Demo</strong></li>
			</ul>
			<ul>
				<li><a href="/movies/popular">Popular</a></li>
				<li><a href="/movies/top-rated">Top-Rated</a></li>
				<li><a href="/movies/upcoming">Upcoming</a></li>
				<li><a href="/movies/search">Search</a></li>
			</ul>
		</nav>
	</header>

	<main class="container" th:object="${movie}">
		<div class="grid">
			<figure>
				<img th:src="@{https://image.tmdb.org/t/p/w500/{posterPath}(posterPath=*{posterPath})}">
			</figure>
			<article>
				<header>
					<h2 th:text="*{title}">Title</h2>
				</header>
				<p th:text="*{overview}">Overview</p>
				<footer>
					<table>
						<tbody>
							<tr>
								<th scope="row">Release Date</th>
								<td th:text="*{releaseDate}">Release Date</td>
							</tr>
							<tr>
								<th scope="row">Revenue</th>
								<td th:text="*{#numbers.formatCurrency(revenue)}">Revenue</td>
							</tr>
							<tr>
								<th scope="row">Runtime</th>
								<td th:text="*{runtime}">Runtime</td>
							</tr>
							<tr>
								<th scope="row">Popularity</th>
								<td th:text="*{popularity}">Popularity</td>
							</tr>
							<tr>
								<th scope="row">Vote Average</th>
								<td th:text="*{voteAverage}">Vote Average</td>
							</tr>
						</tbody>
					</table>
				</footer>
			</article>
		</div>
	</main>

</body>

</html>