<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/base :: head}"></head>

<body>
	<header>
		<nav class="container">
			<ul>
				<li><strong>Redis Cache Demo</strong></li>
			</ul>
			<ul>
				<li>Popular</li>
				<li><a href="/movies/top-rated">Top-Rated</a></li>
				<li><a href="/movies/upcoming">Upcoming</a></li>
				<li><a href="/movies/search">Search</a></li>
			</ul>
		</nav>
	</header>
	<main class="container">
		<h1>Most Popular Movies</h1>
		<section id="page">
			<form th:action="@{/movies/popular}" method="get">
				<nav>
					<ul>
						<li><a th:href="@{/movies/popular(page=${page-1})}" th:if="${page > 1}">&laquo;</a> <span
								th:unless="${page > 1 }">&laquo;</span></li>
						<li><input type="text" name="page" id="page" th:value="${page}" /></li>
						<li><a th:href="@{/movies/popular(page=${page+1})}">&raquo;</a></li>
					</ul>
				</nav>
			</form>
		</section>
		<section id="results">
			<div class="grid results">
				<article th:each="movie : ${movies}">
					<figure>
						<a th:href="@{/movie/{id}(id=${movie.id})}">
							<img
								th:src="@{https://image.tmdb.org/t/p/w500/{posterPath}(posterPath=${movie.posterPath})}">
							<figcaption th:text="${movie.title}" class="movie-title">
								Title
							</figcaption>
						</a>
					</figure>
					<footer th:text="${#numbers.formatDecimal(movie.popularity, 1, 1)}">
						10
					</footer>
				</article>
			</div>
		</section>
	</main>

</body>

</html>